<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CW_Finel_App1.Properties.Settings.CW_Final2ConnectionString"
            connectionString="Data Source=DESKTOP-V2NL8VL;Initial Catalog=CW_Final2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CW_Finel_App1.Properties.Settings.Final_DBConnectionString"
            connectionString="Data Source=DESKTOP-V2NL8VL;Initial Catalog=Final_DB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>